.bg-container{
    border: solid;
    height: auto;
    background-image: url("../assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}